body {
    margin: 0;
}
.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}