.vertical_navbar {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80px;
    height: 100%;
    nav {
        display: flex;
        height: 80%;
        flex-direction: column;
        ul {
            margin-top: auto;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            li {
                margin: 5px auto;
            }
        }
    }
    .copiryght {
        display: flex;
        height: 50%;
        p {
            margin: 50px auto;
            font-size: 10px;
            color: white;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }
}